body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

#root {
  background: linear-gradient(to bottom, #3470c3, #1d3e85);
}

a {
  text-decoration: none;
  color: inherit;
}

.unlock-regular {
  font-family: "Unlock", serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  background-color: #3470c3;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Unlock;
  padding: 25px;
}

.active {
  border-bottom: 2px solid aliceblue; /* Or any other style you want */
  color: aliceblue; /* Optional: Change the text color when active */
  font-weight: 700; /* Optional: Make the active link bold */
}

.panda-navbar {
  height: 18vh;
}

.home-page {
  background: linear-gradient(
    to bottom,
    #3470c3,
    #1d3e85
  ); /* From blue to dark blue */
  min-height: 2800px;
}

.home-page h1 {
  font-size: 50px;
  text-align: center;
  padding: 30px 20px 20px 20px;
  color: aliceblue;
  font-family: Unlock;
}

.home-page .crush-description {
  margin: 30px 400px;
  text-align: justify;
  color: aliceblue;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3470c3;
  color: aliceblue;
  height: 10vh;
  opacity: 85%;
  font-family: Unlock;
}

.about-navbar {
  padding: 10px;
  color: aliceblue;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
}

.crush-navbar {
  padding: 10px;
  color: aliceblue;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  opacity: 100%;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  color: aliceblue;
  background-color: transparent;
  pointer-events: painted;
  font-family: Unlock;
}

.movie-card {
  background-color: #033d8fae;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Ombres */
  border-radius: 20px;
  margin: 40px 350px;
  padding: 15px;
  color: aliceblue;
}
.movie-card:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.movie-card img {
  height: 300px;
  width: auto;
  border-radius: 10px;
}

.movie-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px;
  width: 50%;
}

.movie-infos a {
  position: absolute;
  margin-bottom: 250px;
  font-size: 21px;
}

.movie-infos h3 {
  text-align: justify;
  font-style: italic;
}

/* this is the styling of the about Directors page */
.about-container {
  height: 80vh;
  margin: 90px;
}

.tarantino-container h1 {
  border: 2px solid aliceblue;
  border-radius: 10px;
  color: aliceblue;
  padding: 20px;
  margin: 0px 300px;
  text-align: center;
}

/* this is the styling of the about tarantino page */
.tarantino-page {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: aliceblue;
  background: linear-gradient(to bottom, #3470c3, #1d3e85);
}

.tarantino-header {
  background-color: rgba(213, 222, 230, 0.831);
  border-radius: 5px;
  color: #1d3e85;
  text-align: center;
  padding: 5px;
}

.tarantino-header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.tarantino-header p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.tarantino-profile {
  display: flex;
  gap: 2rem;
  padding: 2rem 4rem;
  height: 350px;
}

.tarantino-photo {
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tarantino-info {
  flex: 1;
}

.tarantino-info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.tarantino-details {
  list-style: none;
  padding: 0;
}

.tarantino-details li {
  margin: 0.5rem 0;
}

.tarantino-films {
  padding: 2rem;
  background-color: #fff;
}

.tarantino-films h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.tarantino-films ul {
  list-style: square;
  padding-left: 1.5rem;
}

/* This is the styling of the random crush page */
.random-card-container {
  min-height: 510px;
  padding-top: 40px;
}
